/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #000;
    background-color: #fff;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* HEADER */
.site-header {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-navbar-menu {
    display: flex;
    gap: 40px;
}
.site-logo:hover {
    opacity: 0.7;
}
.site-logo-img {
    object-fit: cover;
    height: 50px;
}
.site-navbar-menu {
    list-style: none;
}
.site-navbar-menu-link {
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    transition: color 0.2s;
}
.site-navbar-menu-link:hover {
    color: red;
}
/* HERO */
.site-hero {
    background: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.site-hero-content {
    text-align: center;
    padding: 15rem 0;
}
.site-hero-content-text {
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    margin-bottom: 40px;
}
.site-hero-content-link {
    text-decoration: none;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgb(113, 0, 0);
    border: 2px solid rgb(113, 0, 0);
    padding: 20px;
}
.site-hero-content-link:hover {
    background-color: transparent;
    border: 2px solid #fff;
    transition: 0.4s;
}
/* NEWS */
.site-news {
    margin: 40px 0px;
}
.site-news-parent {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.site-news-title, .site-regions-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
}
.site-news-child img {
    height: 200px;
    width: 370px;
    object-fit: cover;
}
.site-news-child-info h4 {
    margin: 15px 0px;
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
}
.site-news-child-info p {
    font-size: 16px;
    margin-bottom: 30px;
}
.site-news-child-info a {
    text-decoration: none;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgb(113, 0, 0);
    border: 2px solid rgb(113, 0, 0);
    padding: 12px;
}
.site-news-child-info a:hover {
    background-color: #000;
    border: 2px solid #000000;
    transition: 0.4s;
}
/* SITE-VDEO */
.site-video {
    background: url('../img/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 150px 0px;
}
/* VILOYATLAR */
.site-regions-title {
    margin-top: 40px;
}
.site-regions-parent {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.site-regions-ul {
    list-style: none;
}
.site-regions-ul-li {
    margin: 15px 0px;
}
.site-regions-ul-li-link {
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: #404040;
}
.site-regions-ul-li-link:hover {
    color: #000;
}
/* SOCIALS */
.site-socials {
    background: url('../img/social-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 0px;
}
.site-socials-title {
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 20px;
    color: #ffffff;
}
.site-socials-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
/* FOOTER */
.site-footer {
    background-color: rgb(19, 19, 19);
    padding: 40px 0px;
}
.site-footer-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-menu-link {
    color: #fff;
}
.mobile-menu-icon {
    display: none;
    background: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0f0f0f;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 120px;
}
sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 100px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 30px;
} 
.sidenav a {
    padding: 20px 10px 20px 32px;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

/* RESPONSIVE STYLES */
@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .site-news-parent {
        gap: 10px;
    }
    .site-news-child img {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 950px) {
    .site-news-title {
        text-align: center;
        margin-bottom: 30px;
    }
    .site-news-parent {
        display: flex;
        flex-direction: column;
        gap: 70px;
        margin: 10px 70px;
    }
    .site-regions-title {
        text-align: center;
    }
}
@media (max-width: 800px) {
    iframe {
        width: 500px;
        height: 280px;
    }
    .site-regions-parent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 650px) {
    .site-navbar {
        display: none;  
    }
    .mobile-menu-icon {
        display: block;
    }
}
@media (max-width: 600px) {
    iframe {
        width: 400px;
        height: 230px;
    }
}